<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <title>BoolZapp</title>
</head>
<body>
    <div class="background">
        <div id="app" class="mainBox">

            <aside>
                <div class="header r">
                    <div class="dFlex">
                        <img class="marginRight8px circleIcon" src="./img/avatar_io.jpg" alt="Io">
                        <div class="flexColumn">
                            <h3>Sofia</h3>
                        </div>
                    </div>
                    <div class="dFlex">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="banner dFlex alignItemsCenter">
                    <div class="circleIcon dFlex alignItemsCenter justifyContentCenter marginRight8px"><i class="fa-solid fa-bell-slash"></i></div>
                    <div>
                        <h3>Ricevi le notifiche di nuovi messaggi</h3>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <form class="search">
                    <button class="searchButton" type="submit"><i class="fa fa-search"></i></button>
                    <input class="searchTextInput" type="text" placeholder="Cerca o inizia una nuova chat" name="search">
                </form>
                <div class="chats">
                    <div class="pointer"  v-for="(chat, i) in chats" @click="openChat(i)">
                        <div class="chat">
                            <img class="circleIcon marginRight8px" :src="chat.img" alt="">
                            <div class=" flexColumn">
                                <h3>{{ chat.name }}</h3>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
    
                    </div>
                </div>

                
            </aside>

            <main>
                <div class="header l">
                    <div class="dFlex">
                        <img class="marginRight8px circleIcon" :src="chats[currentChat].img" alt="chats[currentChat].name">
                        <div class="flexColumn">
                            <h3>{{chats[currentChat].name }}</h3>
                            <p>Ultiumo accesso alle ore x</p>
                        </div>
                    </div>
                    <div class="dFlex">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <div  class="messages">
                    <div v-for="(message) in chats[currentChat].messages" :class="( message.status == 'sent' ) ? 'messagesSent' : 'messagesRecived' "><p>{{ message.message }}</p> <small>{{ message.date }}</small> </div>
                    <!-- <div class="messagesRecived"><p>Bene, grazie</p> <small>12:14</small> </div>
                    <div class="messagesRecived"><p>Tu?</p> <small>12:19</small> </div>
                    <div class="messagesSent"><p>Esercitazione complicata, ma mi diverto.</p> <small>12:25</small> </div> -->


                </div>
                <div class="mesasgeInput">
                    <i class="fa-regular fa-face-smile"></i>
                    <input @keyUp.enter="sendMessage" type="text" v-model="newMessage.message" placeholder="Scrivi un messaggio">
                    <i class="fa-solid fa-microphone"></i>
                </div>


            </main>

        </div>
    </div>




    <script src="./js/main.js"></script>
</body>
</html>